body{
    margin:0;
    padding:0;
}


.square{

    height: 200px;
    width: 200px;
    background: yellowgreen;
}

.rectangle{
    width:400px;
    height: 200px;
    background: blue;
}

.circle{
    height: 200px;
    width: 200px;
    background: green;
    border-radius: 50%;
}

.oval{
    background: blueviolet;
    width: 200px;
    height: 100px;
    border-radius: 100px/50px;
}

.triangleup{
    width:0;
    height:0;
    border-bottom: 200px solid indianred;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.triangledown{
    width:0;
    height:0;
    border-top: 200px solid indianred;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.triangleright{
    width: 0;
    height: 0;
    border-left: 200px solid blue;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    
}

.triangleleft{
    width: 0;
    height: 0;
    border-right: 200px solid aqua;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
}


.shobuj{
    width:500px;
    height: 250px;
    background: green;
    position: relative;
}

.lal{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}